<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    
</head>
<body>
    <div class="wrapper">
	<div class="container"> 
		<h1 class="name">Bienvenidos</h1>


		<form class="form" action="/proyect" method="POST">
			<input type="text" id="user"placeholder="Nombre" name="Nombre">
			<input type="password" placeholder="Contraseña" name="Contraseña">
			<button type="submit" id="login-button">Registrarse</button>
		</form>
	</div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>